@import './base.css';

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #002354;
  margin-top: 0px;
  color: white;
  -webkit-app-region: drag;
}

.topbar-logo {
  margin-left: 10px;
  display: flex;
  width: 65px;
  height: auto;
  -webkit-app-region: no-drag;
  color: white;
}

.logo-strony {
  display: flex;
  flex-direction: row;
}

.nazwa {
  margin-left: 10px;
  margin-top: 8px;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-family: 'PT Sans';
  font-weight: 600;
  font-style: normal;
  clip-path: inset(0 100% 0 0);
  animation: odkryj 1s ease-in-out forwards;
  justify-content: right;
}

@keyframes odkryj {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

.zaruwka {

  width: 24px;
  height: auto;
  margin-right: 20px;

}



.buttonzaruwka {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  transition: color 0.13s ease;
}

.buttonzaruwka:hover {
  color: black;
}

.window-controls {
  display: flex;
  -webkit-app-region: no-drag;
  height: 100%;
}

.min-btn {
  height: 100%;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
}

.min-btn:hover {
  background-color: #1c385f;
}

.max-btn {
  height: 100%;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;

}

.max-btn:hover {
  background-color: #1c385f;
}

.-textbtnsquare {
  margin-bottom: 2px;
  font-size: 2rem;
}

.close-btn {
  height: 100%;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
}

.close-btn:hover {
  background-color: #a11414;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {

  .tip,
  .actions {
    display: none;
  }
}