@import './base.css';

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #002354;
  margin-top: 0px;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.topbar-logo {
  margin-left: 10px;
  display: flex;
  width: 65px;
  height: auto;
  -webkit-app-region: no-drag;
  color: white;
}

.nazwa {
  margin-left: 15px;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-family: 'PT Sans';
  font-weight: 600;
  font-style: normal;
  clip-path: inset(0 100% 0 0);
  animation: odkryj 2s ease-in-out forwards;

}

@keyframes odkryj {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

.zaruwka {

  width: 24px;
  height: auto;
  margin-right: 20px;

}



.buttonzaruwka {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  transition: color 0.13s ease;
}

.buttonzaruwka:hover {
  color: black;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {

  .tip,
  .actions {
    display: none;
  }
}